.main{
    background: #F8F8F8;
    padding: 49px 0 110px;
    &__descr{
        max-width: 490px;
        width: 100%;
    }
    &__title{
        color: $mainColor;
        font-size: 40px;
        font-weight: 800;
        line-height: 48px;
        margin-bottom: 16px;
    }
    &__subtitle{
        color: #485982;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
    }
    &__list{
        margin: 32px 0 40px;
        display: grid;
        grid-template-rows: 20px;
        grid-auto-rows: 20px;
        row-gap: 20px;
    }
    &__item{
        display: grid;
        grid-template-columns: 18px minmax(218px, 490px);
        column-gap: 9px;
        &__text{
            color: #5F719F;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: -0.32px;
        }
    }
    &__button{
        display: flex;
        justify-content: space-between;
        padding: 9px 22px;
        max-width: 198px;
        align-items: center;
        border-radius: 12px;
        background: #485982;
        &__text{
            color: $whiteColor;
            font-size: 16px;
            font-weight: 800;
            line-height: 26px;
            letter-spacing: -0.5px;
            text-transform: uppercase;
        }
    }

}